// HAMBURGER
@media screen and (min-width: 1441px)
    .navigation
        &_checkbox:checked ~ &_background
            transform: scale(45.5)


@media screen and (max-width: 525px)
    .navigation
        &_list
            bottom: 12vh
            left: 70vw
        &_item
            padding: 30px
            margin: 50px
        &_checkbox:checked ~ &_background
            transform: scale(85.5)
            &_checkbox
                left: 100px

// HAMBURGER ENDS


// MAIN TITLE
@media screen and (min-width: 1445px)
    .circle
        width: 300px
        height: 300px
    .header-main
        font-size: 200px
        padding: 0
    .qualities
        font-size: 40px
        padding: 40px
    .qualities-sub
        font-size: 40px
    .links-items
        width: 100px
        height: 100px

// MAIN TITLE
@media screen and (max-width: 525px)
    .circle
        width: 100px
        height: 100px
    .header-main
        font-size: 80px
    .qualities
        font-size: 0px
    .links-items
        width: 50px
        height: 50px
